{% for message in messages %}
<div class="message flex items-start mb-4">
    <div class="avatar w-10 h-10 rounded-full mr-4 overflow-hidden">
        {% if message.from_name == 'user' %}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-full h-full object-cover">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 9a3 3 0 110-6 3 3 0 010 6zm3 13a10 10 0 10-2 .025M12 3a10 10 0 100 20a10 10 0 000-20z"></path>
        </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-full h-full object-cover">
            </svg>
        {% endif %}
    </div>
    <div class="content w-full lg:w-7/10 bg-white p-4 rounded-lg shadow-sm">
        <article class="prose">
{{message.html|safe}}
        </article>
    </div>
</div>
{% endfor %} 