[package]
name = "aos-wasm-abi"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_bytes = "0.11"
thiserror = "1"
serde_cbor = { version = "0.11", default-features = true }
